.auth-container {
  display: flex;
  min-height: 0;
  flex: 1;
  align-self: stretch;
  flex-direction: column;
}

.auth-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.auth-panel {
  margin-top: 1.25rem;
}

@media (min-width: 640px) {
  .auth-panel {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 24rem;
  }
}

.auth-help {
  padding-bottom: 1rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.5rem;
}
